---
layout: base
title: ""
bodyclass: index
---
<section class="inner">
  <p><img src="images/flintstone.jpg" alt="Fred Flintstone" class="portrait"><strong>Fred Wenzel</strong> manages the Developer Ecosystem team at <a href="http://mozilla.org">Mozilla</a>. <em>fredericiana</em> is his blog about the things he runs across between American West Coast and southern Germany.</p>
  <p>Fred may be slightly less famous than his prehistoric namesake, but he's also significantly less likely to be eaten by a saber-toothed tiger. So we'll call this one a draw.</p>

  <h3>Posts</h3>
  <ul class="posts">
    {% for post in site.posts limit:10 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <p id="archives">
    &raquo; Post archives:
    {% for year in site.years %}
      <a href="/{{ year }}/"{% if forloop.first %} class="first"{% endif %}>{{ year }}</a>
    {% endfor %}
  </p>

  <h3>elsewhere on the net</h3>
  {% include elsewhere.html %}
</section>
