/*******************************************************************************
fredericiana blog theme by Fred Wenzel
based on Slate by Jason Costello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* clearfix */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus {
  outline: none;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #373737;
  background: #004A63;
  font-size: 16px;
  font-family: 'Droid Serif', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: normal;
  color:#222222;
  font-family: 'Goudy Bookletter 1911', Georgia, times, serif;
  /*letter-spacing: -1px;*/
}

h1 {
  font-size: 36px;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
}

h3,
#main_content h1,
#sr h1 {
  font-size: 24px;
}

h4,
#main_content h2 {
  font-size: 21px;
}

h5,
#main_content h3 {
  font-size: 18px;
}

h6,
#main_content h4 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

footer p {
  color: #f2f2f2;
}

header h1 a,
header h1 a:hover {
  color: inherit;
}

a {
  text-decoration: none;
  color: #2C90B1;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

#main_content a:hover {
  color: #5099B1;
  text-shadow: #0090ff 0px 0px 2px;
}

header a:hover,
footer a:hover {
  color: #43adff;
  text-shadow: #0090ff 0px 0px 2px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}

ul, ol, dl {
  margin-bottom: 15px
}

ul li {
  list-style: inside;
  padding-left: 20px;
}

ol li {
  list-style: decimal inside;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #373737;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}

img {
  max-width: 100%;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 800px;
  padding: 20px 10px;
  margin: 0 auto;
}

#header_wrap {
  background: #004a63;
}

#header_wrap .inner {
  padding: 20px 10px 10px 10px;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: normal;
  text-shadow: #003040 0px 0px 10px;
}

#project_tagline {
  margin: -10px 0 0 0;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  background: none;
  text-shadow: #003040 0px 0px 10px;
}

#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  min-height: 500px;
  clear: both;
}

#main_content {
  float: left;
  max-width: 575px;
}

#main_content h1 a {
  color: inherit;
}

.post .credits {
  font-style: italic;
}

.meta {
  padding-top: .5em;
  font-size: 80%;
  line-height: 80%;
  opacity: .7;
}

.index img.portrait {
  float: left;
  margin: 0 20px 20px 0;
}

.index #main_content_wrap h1 {
  opacity: .2;
}
.index #main_content_wrap h1:before {
  padding-right: .25em;
}

#posts > h1:before {
  content: '\00B6';
}
#archives > h1:before {
  content: '\0026';
}
#elsewhere > h1:before {
  content: '\2194';
}

.index h3 {
  margin-top: 30px;
}

li.archive_list {
  list-style: none;
  margin-bottom: 30px;
  padding-left: 0;
}

.archive_list h2 {
  font-size: 21px;
  padding-bottom: 0;
  margin: 0;
}

.index #archives a {
  margin: 0 .2em;
  padding: .1em;
}

.index #elsewhere li {
  display: inline-block;
  list-style: none;
  margin-right: .5em;
  padding-left: 0;
}
.index #elsewhere li a {
  background: url('../images/socialsprite.png') no-repeat top left;
  display: inline;
  line-height: 16px;
  padding-left: 22px;
  margin-right: 1em;
}
.index #elsewhere .flickr { background-position: 0 0; width: 16px; height: 16px; }
.index #elsewhere .github { background-position: 0 -66px; width: 16px; height: 16px; }
.index #elsewhere .twitter { background-position: 0 -132px; width: 16px; height: 16px; }

.gist pre {
  width: auto;
}

#sidebar {
  float: right;
  width: 200px;
  font-size: 80%;
}
#sidebar h2 {
  font-size: 18px;
}
#sidebar ul li {
  padding-left: 0;
}
#sidebar .cvr {
  opacity: .7;
}

#footer_wrap {
  background: #004A63;
}

footer {
  font-size: 80%;
}

footer .rss {
  background: url('../images/feed.png') left center no-repeat;
  padding-left: 18px;
}

#pagination {
  font-family: 'Goudy Bookletter 1911', Georgia, times, serif;
  font-size: 18px;
  text-align: center;
}
#pagination li {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 33%;
}
#pagination .deactivated {
  opacity: .4;
}

/*******************************************************************************
Search
*******************************************************************************/
#site-search {
  background: transparent;
  padding: 0;
  position: absolute;
  right: 0;
  top: 2.5em;
}

#site-search table,
#site-search td,
#sr table,
#sr td {
  border: 0;
  padding: 0;
}

.gsc-branding {
  font-size: 80%;
  opacity: .6;
  float: right;
  margin-top: .4em;
}
.gsc-branding img {
  border: 0;
  box-shadow: none;
  margin: 0;
  padding: 0 0 0 .5em;
  vertical-align: middle;
}

.gsc-thumbnail-inside,
.gsc-url-top,
.gs-watermark,
.gs-visibleUrl-short {
  display: none;
}

.gs-result {
  margin: 2em 0;
}

.gs-snippet {
  margin: .5em 0;
}

.gs-visibleUrl-long {
  font-size: 80%;
  opacity: .6;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-device-width: 820px), screen and (max-width: 820px) {
  #main_content {
    float: none;
  }
  #sidebar {
    float: none;
    width: 100%;
    max-width: 575px;
    margin-top: 30px;
  }
  #site-search {
    position: inherit;
    top: 0;
    margin-top: 1em;
  }
  .gsc-branding {
    float: none;
  }
}

@media screen and (max-device-width: 480px), screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3,
  #main_content h1,
  #sr h1 {
    font-size: 21px;
  }

  h4,
  #main_content h2 {
    font-size: 18px;
  }

  h5,
  #main_content h3 {
    font-size: 14px;
  }

  h6,
  #main_content h4 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

}
