---
layout: base
no_footer_ad: true
---
<div class="inner group">
  <section id="main_content" class="post">
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    {{ content }}

    <hr>
    <section class="meta">
      <time>{{ page.date | date_to_string }}</time>
      {% if page.tags != empty %}
        <p>Tags:
          {% for tag in page.tags %}
            <a href="/tag/{{ tag }}">{{ tag }}</a>{% if forloop.last != true %}, {% endif %}
          {% endfor %}
        </p>
      {% endif %}
    </section>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'fredericiana';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

  </section>

  <nav id="sidebar">
    <h2>about fredericiana</h2>
    <p><a href="#">Fred Wenzel</a> manages the Developer Ecosystem team at <a href="http://mozilla.org">Mozilla</a>. <em>fredericiana</em> is his blog about the things he runs across between American West Coast and southern Germany.</p>

    <h2>elsewhere</h2>
    {% include elsewhere.html %}

    {% include cvr.html %}
  </nav>
</div>
