---
layout: base
---
<div class="inner group">
  <section id="main_content">
    {{ content }}
  </section>

  <nav id="sidebar">
    <h2>about fredericiana</h2>
    <p><a href="#">Fred Wenzel</a> manages the Developer Ecosystem team at <a href="http://mozilla.org">Mozilla</a>. <em>fredericiana</em> is his blog about the things he runs across between American West Coast and southern Germany.</p>

    <h2>elsewhere</h2>
    {% include elsewhere.html %}

    {% include cvr.html %}
  </nav>
</div>
