---
layout: base
bodyclass: tags
---
<div class="inner group">
  <section id="main_content" class="post">
    <h1>Posts for the year {{ page.year }}</h1>
    <ul>
      {% for post in page.posts %}
        <li class="archive_list">
          <h2><a class="archive_list_article_link" href="{{ post.url }}">{{ post.title }}</a></h2>
          <time datetime="{{ post.date | date: "%Y-%m-%d" }}" class="meta">{{ post.date|date_to_string }}</time>
          <p class="summary">{{ post.content|truncatewords:20 }}</p>
        </li>
      {% endfor %}
    </ul>
  </section>
</div>
